.footer {
  position: relative;
  text-align: center;
  overflow: hidden;
  top: -30px;

  &__container {
    padding: 0;
    overflow: hidden;
  }

  &__map {
    height: 452px;
    border-radius: 50px;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  &__logo {
    margin-bottom: 35px;
  }
  &__social_list {
    margin-bottom: 35px;
  }
  &__phone {
    box-shadow: none;
    margin: 0 auto;
    margin-bottom: 13px;
  }
  &__adress {
  }
  &__mail {
    margin-bottom: 45px;
  }
  &__btn {
    margin-bottom: 55px;
  }
  &__copyright {
    margin-bottom: 23px;
  }
}
