$widthItem: 400px;
$heightItem: 400px;

.about_us {
  position: relative;
  background-color: transparent;
  z-index: $z-index-about_us-section;
  display: grid;
  overflow: hidden;

  &__cloud_top,
  &__cloud_buttom {
    position: relative;
    width: 100%;
    z-index: $z-index-about_us-section-cloud;
  }

  &__container_wrapper {
    position: relative;
    background-color: rgb(255, 255, 255);
    padding: 5.1rem 0;
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    z-index: $z-index-about_us-section-container;
  }

  &__photos {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &_item {
      width: $widthItem;
      height: $heightItem;
      position: absolute;

      &_left {
        z-index: 100;
        left: 0;
        top: 210px;

        .about_us__photos_item_img {
          width: calc($widthItem / 1.5);
          height: calc($heightItem / 1.5);
        }
      }

      &_medium {
        z-index: 110;
      }

      &_right {
        z-index: 120;
        right: -9rem;
        top: calc($widthItem / 1.5) + 50px;

        .about_us__photos_item_img {
          width: calc($widthItem / 2);
          height: calc($heightItem / 2);
        }
      }

      &_img {
        width: $widthItem;
        height: $heightItem;
      }
    }
  }

  &__content {
    z-index: 400;
    margin-bottom: 30px;

    &_title {
      color: $color-font-text-about-us-list;
      font-size: 30px;
      font-weight: 500;
      line-height: 50px;
      letter-spacing: 0%;
      text-transform: uppercase;
    }

    &_desc {
      color: $color-font-text-about-us-desc;
      font-size: 15px;
      font-weight: normal;
      line-height: 26px;
      letter-spacing: 0%;
      margin-bottom: 55px;
    }

    &_list {
      color: $color-font-text-about-us-list;
      font-size: 15px;
      font-weight: normal;
      line-height: 26px;
      letter-spacing: 0%;
      margin-bottom: 30px;
      padding-left: 20px;

      &_item {
        position: relative;

        &::before {
          position: absolute;
          content: url("../../../public/assets/svg/about_us__content_list_item_icon_star.svg");
          left: -20px;
        }
      }
    }
  }
}
