@include media_L {
  .sign_up {
    margin-bottom: -3rem;

    &_photo {
      &_img {
        height: 450px;
        width: 350px;
      }
    }
  }
}

@include media_M {
  .sign_up {
    &__container {
      grid-template-columns: 1fr 1fr;
      gap: 0 5px;
    }

    &_photo {
      &_img {
        height: 400px;
        width: 310px;
      }
    }

    &_content {
      &_title {
        font-size: 40px;
        line-height: 40px;
      }

      &_text {
        font-size: 30px;
        margin-bottom: 15px;
      }
    }
  }
}

@include media_XS {
  .sign_up {
    margin-bottom: -8rem;

    &__container {
      grid-template-columns: 1fr;
      gap: 0;
      position: relative;
    }

    &_photo {
      grid-row: auto;
      order: 2;
      z-index: $z-index-sign-up-photo;
      padding: 60px;

      &_img {
        transform: none;
        height: 100%;
        width: 100%;
        box-shadow: none;
      }
    }

    &_content {
      order: 1;
      text-align: center;

      &_title {
        font-size: 25px;
        line-height: 25px;
      }

      &_text {
        font-size: 25px;
      }
    }

    &_button_sign_up {
      position: absolute;
      top: 850px;
      bottom: 10%;
      left: 50%;
      transform: translateX(-50%);
      order: 3;
      z-index: $z-index-sign-up-button-sign-up;
      width: $width-icon-button_sign_up + 200px;
      height: $height-icon-button_sign_up;
    }
  }
}

@include media_XXS {
  .sign_up {
    &_content {
      &_title {
        margin-bottom: 10px;
        font-size: 27px;
        line-height: 27px;
      }
    }

    &_button_sign_up {
      top: 750px;
      width: $width-icon-button_sign_up-m + 130px;
      height: $height-icon-button_sign_up-m;
    }
  }
}

@include media_XXXS {
  .sign_up {
    margin-bottom: -7rem;

    &_button_sign_up {
      top: 700px;
      width: $width-icon-button_sign_up-m + 30px;
    }

    &_content {
      &_title {
        font-size: 25px;
        line-height: 25px;
      }

      &_text {
        font-size: 25px;
      }
    }
  }
}

@include media_XXXXS580 {
  .sign_up {
    &_button_sign_up {
      top: 500px;
    }
  }
}

@include media_XXXXS {
  .sign_up {
    &_button_sign_up {
      top: 450px;
    }
  }
}

@include media_XXXXXS {
  .sign_up {
    &_button_sign_up {
      top: 400px;
      width: $width-icon-button_sign_up-m + 30px;
    }
  }
}
