.sign_up {
  margin-bottom: -8rem;

  &__container {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    grid-template-rows: repeat(3, auto);
    gap: 0 20px;
  }

  &_photo {
    grid-row: 1 / 4;

    &_img {
      position: relative;
      top: -1rem;
      transform: rotateZ(-3deg);
      height: 580px;
      width: 470px;
      border: 8px solid #fd5956;
      background: #BFE2FF;
      border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
      box-shadow:  0px -25px 20px -20px rgba(0, 0, 0, 0.45),
      25px 0 20px -20px rgba(0, 0, 0, 0.45),
      0px 25px 20px -20px rgba(0, 0, 0, 0.45),
      -25px 0 20px -20px rgba(0, 0, 0, 0.45);
      animation: anim-ramka-1 10s infinite;
    }

    @keyframes anim-ramka-1 {
      0% {
        border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
        box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
      }
      25% {
        border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
      }
      50% {
        border-radius: 50% 50% 33% 67%/55% 27% 73% 45%;
        box-shadow: -10px -5px 50px rgba(0, 0, 0, 0.2);
      }
      75% {
        border-radius: 33% 67% 58% 42%/63% 68% 32% 37%;
      }
    }
  }

  &_content {
    &_title,
    &_text {
      text-transform: uppercase;
    }

    &_title {
      color: $color-font-black;
      font-size: 50px;
      line-height: 50px;
      font-weight: 300;
      margin-bottom: 10px;
    }

    &_text {
      color: $color-font-text;
      font-size: 40px;
      font-weight: 300;
      margin-bottom: 30px;
    }
  }

  &_button_sign_up {
    justify-self: start;
    align-self: start;
  }
}
