.our_services {
  .section_header {
    margin-bottom: 35px;
  }

  --width: 400px;

  &__slider {
    &_thumbs_wrapper {
      display: flex;
      justify-content: space-evenly;
    }

    &_thumbs {
      --borderRadius: 30px;
      margin-bottom: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #fff;
      border-radius: var(--borderRadius);
      padding-bottom: var(--borderRadius);
      min-height: 675px;
      height: 100%;
      opacity: 0.5;
      width: var(--width);
      box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.13),
        0 1px 2px 0 rgba(0, 0, 0, 0.11);

      &--active {
        opacity: 1;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
          0 4px 4px rgba(0, 0, 0, 0.11), 0 6px 8px rgba(0, 0, 0, 0.11),
          0 8px 16px rgba(0, 0, 0, 0.11);
      }

      &_card {
        &_btn {
          margin-top: auto;
        }

        &_bg {
          width: var(--width);
          height: 300px;
          margin-bottom: -160px;

          img {
            width: var(--width);
          }
        }

        &_sky {
          margin-bottom: 30px;

          &_img {
            border-bottom-left-radius: var(--borderRadius);
            border-bottom-right-radius: var(--borderRadius);
            width: var(--width);
          }
        }

        &_content {
          @include flexJustifyItemsCenter;
          flex-direction: column;

          &_title {
            font-size: 24px;
            line-height: 50px;
            letter-spacing: 0%;
            font-weight: 500;
            text-transform: upperase;
            margin-bottom: 12px;
          }

          &_desc {
            max-width: 315px;
            font-size: 15px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: 0%;
            color: rgb(148, 148, 148);
            margin-bottom: 30px;
          }
        }
      }
    }

    &_main {
      &_slide {
        &_title {
          font-size: 30px;
          font-weight: 500;
          line-height: 50px;
          letter-spacing: 0%;
          text-transform: uppercase;
          text-align: center;
          margin-bottom: 40px;
        }

        &_cards {
          display: grid;
          grid-template-columns: repeat(3, 390px);
          gap: 15px;
          justify-items: center;
          justify-content: center;

          & > * {
            box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.13),
              0 1px 2px 0 rgba(0, 0, 0, 0.11);
          }
        }
      }

      &_child_slide {
        &_haircut {
          margin-bottom: 45px;
        }

        &_hairstyle {
          margin-bottom: 45px;
        }

        &_braids {
          margin-bottom: 45px;
        }
      }

      &_men_slide {
        &_haircut {
          margin-bottom: 45px;
          &_cards {
            grid-template-columns: repeat(2, 586px);

            &_item {
              max-width: 586px;
              overflow: hidden;

              .card_our_services_bg {
                &::after {
                  content: url("../../../public/assets/png/our_services/bg-sky-long.png");
                  bottom: -3px;
                }
              }
            }
          }
        }
      }

      &_woman_slide {
        &_haircut {
          margin-bottom: 45px;
        }

        &_hairstyle {
          margin-bottom: 45px;
        }

        &_braids {
          margin-bottom: 45px;
        }
      }
    }
  }
}
