@include media_L() {
  .our_services {
    --width: 320px;

    &__slider {
      &_thumbs {
        margin-bottom: 70px;
        height: 500px;
        width: var(--width);

        &_card {
          &_bg {
            img {
              width: var(--width);
            }
          }

          &_sky {
            margin-bottom: 5px;
          }

          &_content {
            &_title {
              font-size: 21px;
              line-height: 26px;
              margin-bottom: 5px;
            }

            &_desc {
              text-align: center;
              padding: 0 5px;
              font-size: 14px;
              line-height: 22px;
              margin-bottom: 10px;
            }
          }
        }
      }

      &_main {
        &_slide {
          &_title {
            font-size: 27px;
            line-height: 30px;
          }

          &_cards {
            grid-template-columns: repeat(3, 300px);
          }
        }

        &_child_slide {
          &_haircut {
            margin-bottom: 45px;
          }

          &_hairstyle {
            margin-bottom: 45px;
          }

          &_braids {
            margin-bottom: 45px;
          }
        }

        &_men_slide {
          &_haircut {
            margin-bottom: 45px;
            &_cards {
              grid-template-columns: repeat(2, 450px);
            }
          }
        }

        &_woman_slide {
          &_haircut {
            margin-bottom: 45px;
          }

          &_hairstyle {
            margin-bottom: 45px;
          }

          &_braids {
            margin-bottom: 45px;
          }
        }
      }
    }
  }
}

@include media_M() {
  .our_services {
    --width: 300px;

    &__slider {
      &_thumbs {
        margin-bottom: 60px;
        height: 470px;

        &_card {
          &_bg {
            margin-bottom: -180px;
          }

          &_content {
            margin-top: -20px;
            &_title {
              font-size: 24px;
              line-height: 24px;
            }
          }
        }
      }

      &_main {
        &_slide {
          &_title {
            margin-bottom: 20px;
          }
        }

        &_men_slide {
          &_haircut {
            margin-bottom: 45px;

            &_cards {
              grid-template-columns: repeat(2, 400px);
            }
          }
        }
      }
    }
  }
}

@include media_S() {
  .our_services {
    --width: 250px;

    &__slider {
      &_thumbs {
        margin-bottom: 50px;
        height: 430px;

        &_card {
          &_bg {
            margin-bottom: -90px;
          }

          &_content {
            &_title {
              font-size: 20px;
              line-height: 24px;
            }
          }
        }
      }

      &_main {
        &_slide {
          &_title {
            margin-bottom: 20px;
          }

          &_cards {
            grid-template-columns: repeat(3, 250px);
            gap: 10px;
          }
        }

        &_child_slide {
          &_haircut {
            margin-bottom: 45px;
          }

          &_hairstyle {
            margin-bottom: 45px;
          }

          &_braids {
            margin-bottom: 45px;
          }
        }

        &_men_slide {
          &_haircut {
            margin-bottom: 45px;
            &_cards {
              grid-template-columns: repeat(2, 400px);
            }
          }
        }

        &_woman_slide {
          &_haircut {
            margin-bottom: 45px;
          }

          &_hairstyle {
            margin-bottom: 45px;
          }

          &_braids {
            margin-bottom: 45px;
          }
        }
      }
    }
  }
}

/** Мобилка */
@include media_XS() {
  .our_services {
    .section_header {
      margin-bottom: 35px;
    }

    --width: 400px;
    &__slider {
      &_thumbs_wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
      }

      &_thumbs {
        --borderRadius: 12px;
        --height: 70px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-radius: none;
        padding-bottom: 0;
        height: var(--height);
        overflow: hidden;
        width: 30%;
        margin: 0 auto;
        margin-bottom: 7px;

        &_card {
          &_bg {
            width: 40%;
            height: var(--height);
            margin-bottom: 0px;
            overflow: hidden;

            img {
              width: 100px;
              height: calc(var(--height));
              transform: translateX(-20%);
            }
          }

          &_sky {
            display: none;
          }

          &_content {
            flex-direction: row;
            justify-content: space-evenly;
            width: 100%;
            margin-top: 0;

            &_title {
              max-width: none;
              font-size: 18px;
              line-height: 26px;
              margin-bottom: 0px;
              text-align: center;
            }

            &_desc {
              display: none;
            }
          }

          &_btn {
            display: none;
          }
        }
      }

      &_main {
        &_slide {
          &_title {
            margin-bottom: 20px;
          }

          &_cards {
            grid-template-columns: repeat(3, 250px);
            gap: 10px;
          }
        }

        &_child_slide {
          &_haircut {
            margin-bottom: 45px;
          }

          &_hairstyle {
            margin-bottom: 45px;
          }

          &_braids {
            margin-bottom: 45px;
          }
        }

        &_men_slide {
          &_haircut {
            margin-bottom: 45px;
            &_cards {
              grid-template-columns: repeat(2, 400px);
            }
          }
        }
      }
    }
  }
}

/** Мобилка */
@include media_XXS() {
  .our_services {
    .section_header {
      margin-bottom: 35px;
    }

    --width: 400px;
    &__slider {
      &_thumbs_wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;

        margin-bottom: 50px;
      }

      &_thumbs {
        width: 60%;

        &_card {
          &_bg {
            width: 40%;
            height: var(--height);
            margin-bottom: 0px;
            overflow: hidden;

            img {
              width: 100px;
              height: calc(var(--height));
              transform: translateX(-20%);
            }
          }

          &_sky {
            display: none;
          }

          &_content {
            flex-direction: row;
            justify-content: space-evenly;
            width: 100%;
            margin-top: 0;

            &_title {
              max-width: none;
              font-size: 18px;
              line-height: 26px;
              margin-bottom: 0px;
              text-align: center;
            }

            &_desc {
              display: none;
            }
          }

          &_btn {
            display: none;
          }
        }
      }

      &_main {
        &_slide {
          &_title {
            margin-bottom: 20px;
          }

          &_cards {
            grid-template-columns: repeat(1, 100%);
            gap: 20px;
          }
        }

        &_child_slide {
          &_haircut {
            margin-bottom: 45px;
          }

          &_hairstyle {
            display: none;
          }

          &_braids {
            margin-bottom: 45px;

            &_card_item--off {
              display: none;
            }
          }
        }

        &_men_slide {
          &_haircut {
            margin-bottom: 45px;

            &_cards {
              grid-template-columns: repeat(1, 100%);

              .card_our_services {
                height: 700px;
              }

              &_item {
                max-width: 95%;

                .card_our_services_price {
                  width: 150px;
                  height: 150px;
                  bottom: 45%;

                  &_title {
                    margin-bottom: 30px;
                    font-size: 21px;
                  }

                  &_value {
                    font-size: 40px;
                  }
                }

                .card_our_services_content {
                  padding-top: 80px;
                }

                .card_our_services_btn {
                  width: 300px;
                }
              }
            }
          }
        }

        &_woman_slide {
          &_haircut {
            display: none;
          }

          &_braids {
            &_card_item--off {
              display: none;
            }
          }
        }
      }
    }
  }
}

/** Мобилка */
@include media_XXXS() {
  .our_services {
    &__slider {
      &_main {
        &_men_slide {
          &_haircut {
            margin-bottom: 45px;
          }
        }
      }
    }
  }
}

@include media_XXXXS() {
  .our_services {
    &__slider {
      &_main {
        &_men_slide {
          &_haircut {
            &_cards {
              &_item {
                max-width: 95%;

                .card_our_services_price {
                  width: 150px;
                  height: 150px;
                  bottom: 55%;

                  &_title {
                    margin-bottom: 30px;
                    font-size: 21px;
                  }

                  &_value {
                    font-size: 40px;
                  }
                }

                .card_our_services_content {
                  padding-top: 150px;
                }

                .card_our_services_btn {
                  width: 300px;
                  height: 90px;
                }
              }
            }
          }
        }
      }
    }
  }
}
